* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: hsla(240, 6%, 13%, 1);
  --text-color: hsla(240, 9%, 89%, 1);
  --hover-link: hsla(28, 94%, 59%, 1);
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Roboto Mono', sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-size: 16px;
  background: var(--bg);
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(assets/background.svg) no-repeat center/cover;
  /*width: 375px;
  height: 812px;*/
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.avatar {
  width: 10rem; /*1rem = 16px*/
  margin: 11.5rem auto 0;

  position: relative;
}
#stamp:hover {
  transform: rotate(180deg);
  transition: 2s;
}
h1 {
  font: 700 24px var(--title-font);
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 0.25rem;
}

a:hover {
  color: var(--hover-link);
  transition: 0.3s;
}

p {
  margin-top: 2rem;
}

ul {
  list-style: none;
  margin-top: 4rem;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
li a {
  transition: 0.3s;
}
li a:hover {
  transform: translateY(-5px);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/*Desktop*/

@media (min-width: 960px) {
  /**/
}
